In [2]:
import pandas as pd
import numpy as np
import os

data_filepath = '../../Data/ds-capstone-dataset'

data_files = [file for file in os.listdir(data_filepath) if file[-4:] != '.csv']

labels = pd.read_csv(f"{data_filepath}/label_1980_2018_rawyield.csv")

# Rename first column
labels = labels.rename(columns={"Unnamed: 0":"year_index"})

print(data_files)

['X_tmmx_1980_2018_rawyield', 'X_rmax_1980_2018_rawyield', 'X_vs_1980_2018_rawyield', 'X_sph_1980_2018_rawyield', 'X_srad_1980_2018_rawyield', 'X_vpd_1980_2018_rawyield', 'X_rmin_1980_2018_rawyield', 'X_pr_1980_2018_rawyield', 'X_tmmn_1980_2018_rawyield', 'X_th_1980_2018_rawyield']

In [22]:
labels

       year_index   id2  year  yield
index
1               0   112  1980   27.0
2               1   113  1980   28.0
3               2   119  1980   29.0
4               3   120  1980   28.0
5               4   124  1980   24.0
...           ...   ...   ...    ...
54751         874  3121  2018  182.0
54752         875  3122  2018  156.8
54753         876  3123  2018  163.4
54754         877  3124  2018  160.4
54755         878  3125  2018  155.7

[45338 rows x 4 columns]

In [2]:
all_avg_data = labels.copy()

for file in data_files:
    feature = file[2:-19]
    data = np.load(f'{data_filepath}/{file}', allow_pickle=True)
    data_df = pd.DataFrame(data)
    all_avg_data[feature] = data_df.mean(axis=1)

all_avg_data.to_csv(f"./Data/all_feature_data_avg.csv")

In [3]:
all_avg_data

,year_index,index,id2,year,yield,tmmx,rmax,vs,sph,srad,vpd,rmin,pr,tmmn,th
0,0,1,112,1980,27.0,302.547299,88.534865,4.169133,0.010406,244.856055,1.477316,34.108888,2.150448,287.698991,182.028998
1,1,2,113,1980,28.0,302.068878,85.865079,3.564974,0.010097,243.893545,1.461499,34.400296,2.342725,287.706825,192.143968
2,2,3,119,1980,29.0,303.100471,91.763880,3.560391,0.011191,251.878185,1.429625,36.004177,2.067676,288.491839,178.083970
3,3,4,120,1980,28.0,302.966961,88.569844,3.964970,0.010669,250.073255,1.484913,35.960727,2.714061,288.009203,192.123030
4,4,5,124,1980,24.0,303.312180,89.555033,3.494477,0.011313,254.001956,1.481304,36.824029,2.435780,289.358179,176.449627
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45333,874,54751,3121,2018,182.0,294.953877,95.237614,4.204021,0.009771,220.000207,0.575663,54.411823,4.651962,283.506739,174.472102
45334,875,54752,3122,2018,156.8,294.790673,93.421281,4.147997,0.009020,217.519544,0.671401,50.163649,4.160591,282.975300,182.414943
45335,876,54753,3123,2018,163.4,294.716057,92.840480,4.182206,0.009125,215.686358,0.661735,51.121667,5.036913,283.231696,181.480117
45336,877,54754,3124,2018,160.4,294.695984,90.952795,4.101506,0.009123,218.553170,0.675299,51.020241,4.583146,283.858971,179.765945
45337,878,54755,3125,2018,155.7,294.558141,91.999418,3.832769,0.008719,214.750056,0.693512,49.150413,4.213450,282.625838,175.883386

In [28]:
all_avg_data.iloc[3000,]

year_index     369.000000
index         3185.000000
id2            949.000000
year          1982.000000
yield          112.000000
tmmx           299.113159
rmax            92.071791
vs               3.932385
sph              0.009658
srad           233.926073
vpd              1.042953
rmin            38.633088
pr               3.197113
tmmn           284.975268
th             169.513870
Name: 3000, dtype: float64